.venv
.env
uploads/
node_modules/
backend/venv/
backend/uploads/
backend/*.db
backend/event_flow.db
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
*__pycache__/